<head>
    <style>

    h1 {
        font-family: "georgia", "serif";
        font-weight: bold;
    }
    h2 {
        line-height: 0;
        margin-bottom: -0px;
        font-family: "georgia", "serif";
        font-weight: bold;
    }
    h3 {
        line-height: 0;
        font-family: "georgia", "serif";
        font-weight: bold;
    }
    ul#members {
        padding-left: 0; 
        line-height: .75;
        text-align: center; 
        list-style: none; 
        font-family: "helvetica", "serif";
    }
    body {
        font-family: "helvetica", "serif";
    }
    </style>
</head>